<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button class="btn btn-link" routerLink="/">To home</button>
    </div>
    <div class="info">
        <strong>Author is here</strong>
        <small>21.04.2020</small>
    </div>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab libero quaerat harum quos est ratione sed aspernatur velit ipsam, quas natus quod, dolore ducimus earum corrupti iste reprehenderit temporibus? Porro eos, adipisci nisi accusantium magnam sapiente assumenda earum quasi, quam in reiciendis. Ullam quos officiis, explicabo a quaerat hic animi.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab libero quaerat harum quos est ratione sed aspernatur velit ipsam, quas natus quod, dolore ducimus earum corrupti iste reprehenderit temporibus? Porro eos, adipisci nisi accusantium magnam sapiente assumenda earum quasi, quam in reiciendis. Ullam quos officiis, explicabo a quaerat hic animi.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab libero quaerat harum quos est ratione sed aspernatur velit ipsam, quas natus quod, dolore ducimus earum corrupti iste reprehenderit temporibus? Porro eos, adipisci nisi accusantium magnam sapiente assumenda earum quasi, quam in reiciendis. Ullam quos officiis, explicabo a quaerat hic animi.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab libero quaerat harum quos est ratione sed aspernatur velit ipsam, quas natus quod, dolore ducimus earum corrupti iste reprehenderit temporibus? Porro eos, adipisci nisi accusantium magnam sapiente assumenda earum quasi, quam in reiciendis. Ullam quos officiis, explicabo a quaerat hic animi.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab libero quaerat harum quos est ratione sed aspernatur velit ipsam, quas natus quod, dolore ducimus earum corrupti iste reprehenderit temporibus? Porro eos, adipisci nisi accusantium magnam sapiente assumenda earum quasi, quam in reiciendis. Ullam quos officiis, explicabo a quaerat hic animi.</p>
    </div>
</div>